@media screen and (max-width: 600px) {

    body{
        width: 90vw;
    }
    header nav ul,
    header section ,.first ,.fourth , .five , .wedding div{
        flex-direction: column;
    }
    header nav ul {
        display: none;
    }
    button{
        margin: 20px 0;
    }

    input,
    button,
    select,
    option {
        width: 255px;
    }
    .explore , .discout h3{
        font-size: 22px;
    }
    .discout p{
        font-size: 14px;
    }
    .icon{
        padding-left: 60px;
    }
    .img-container {
        display: flex;
        flex-direction: column;
    }
    .fourth p {
        width: 86vw;
    }
    .img-news img{
        width: 100%;
    }
    .discout{
        left: 28vw;
        top: -40vw;
    }
    footer{
        margin: 0 -7vw;
    }
    .wedding div p{
        background-size: 230%;
    }

}

@media screen and (min-width : 601px) {
    .icon {
        display: none;
    }
}